bandit==1.7.4
black==22.8.0
coverage==6.4.4
diff-cover==7.0.1
flake8==5.0.4
mock==4.0.3
pytest==7.1.3
pytest-cov==4.0.0

# Required to test building the docs
# sphinxcontrib-httpdomain errors on Sphinx 4.1.x
sphinx==5.2.2
sphinxcontrib-httpdomain==1.8.0
sqlalchemy_schemadisplay==1.3

# Mypy test requirements
mypy==0.981
types-mock==4.0.15
